
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
lab/

data/raw/
data/processed/
data/raw/*
!data/raw/.gitkeep

src/data_pipeline/data
src/data_pipeline/data/raw/
src/data_pipeline/data/processed/
src/data_pipeline/data/raw/*
src/data_pipeline/data/processed/*

.ipynb_checkpoints
*/.ipynb_checkpoints/*

*.pkl
*.h5
*.joblib
lab/results/

.DS_Store
Thumbs.db